
@font-face {
    font-family: Archangelsk;
    src: url('./assets/fonts/Archangelsk.eot');
    src: url('./assets/fonts/Archangelsk.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Archangelsk.woff') format('woff'),
    url('./assets/fonts/Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}